<h2 mat-dialog-title>ADD STUDENT</h2>
<mat-dialog-content >
    <form [formGroup]="addForm" [hidden]="success" (ngSubmit)="submitHandler()">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Course</mat-label>
          <input matInput formControlName="course">
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Year Level</mat-label>
          <mat-select formControlName="yearLevel">
            <mat-option value="1st">1st Year</mat-option>
            <mat-option value="2nd">2nd Year</mat-option>
            <mat-option value="3rd">3rd Year</mat-option>
            <mat-option value="4th">4th Year</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Submit</button>
</mat-dialog-actions>