:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
    /* background: #d5e0f8; */
    background-image: linear-gradient(210deg, #ffffff, #b0daff);
}

mat-drawer-container {
    height: 100%;
}