<mat-nav-list>
    <div class="logo py-4">
        <img src="./assets/angular-logo.png" alt="">
    </div>

    <mat-divider></mat-divider>

    <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/students" routerLinkActive="list-item-active">
        <mat-icon>face</mat-icon> Students
    </a>
    <a mat-list-item routerLink="/user-accounts" routerLinkActive="list-item-active">
        <mat-icon>account_box</mat-icon> User Accounts
    </a>
    <a mat-list-item routerLink="/my-account" routerLinkActive="list-item-active">
        <mat-icon>manage_accounts</mat-icon> My Account
    </a>
</mat-nav-list>